body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /*background: #ad5389; */ /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #a8edea, #fed3e3);*/
    background: linear-gradient(to left, #a8edea, #fed2e3);
    /*background-color: #AEFD6C;*/
    /*background-image: url('last.png');*/
    background-size: cover;
    background-position: center center;
    /*backgrorgb(0, 0, 0)repeat: no-repeat;*/
    color: #000000;
}

.container {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 1, 0.5);
    background-color: transparent;
    text-align: center;
}

h1 {
    font-weight: bold;
    color: black;
}

p {
    margin: 20px 0;
    line-height: 1.6;
}

.emoji {
    font-size: 24px;
    margin-right: 5px;
}


.links a {
    margin: 0 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.links a:hover {
    /*color: #0056b3;*/
    font-size: 18px;
    /*text-transform: uppercase;*/
    transform: scale(1.05);
}

.image{
	margin-top: 30px;
}

