<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>NoteX</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>in.NoteX.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>in.NoteX.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <jsp-file>/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registrationProcessServlet</display-name>
    <servlet-name>registrationProcessServlet</servlet-name>
    <servlet-class>in.NoteX.servlet.registrationProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationProcessServlet</servlet-name>
    <url-pattern>/registrationProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>in.NoteX.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>in.NoteX.servlet.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptUser</display-name>
    <servlet-name>acceptUser</servlet-name>
    <servlet-class>in.NoteX.servlet.acceptUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptUser</servlet-name>
    <url-pattern>/acceptUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotesServlet</display-name>
    <servlet-name>UploadNotesServlet</servlet-name>
    <servlet-class>in.NoteX.servlet.UploadNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotesServlet</servlet-name>
    <url-pattern>/UploadNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapUploadNotes</display-name>
    <servlet-name>mapUploadNotes</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapUploadNotes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapUploadNotes</servlet-name>
    <url-pattern>/mapUploadNotes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapApproveUser</display-name>
    <servlet-name>mapApproveUser</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapApproveUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapApproveUser</servlet-name>
    <url-pattern>/mapApproveUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapApproveNotesPyq</display-name>
    <servlet-name>mapApproveNotesPyq</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapApproveNotesPyq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapApproveNotesPyq</servlet-name>
    <url-pattern>/mapApproveNotesPyq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapUploadPyq</display-name>
    <servlet-name>mapUploadPyq</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapUploadPyq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapUploadPyq</servlet-name>
    <url-pattern>/mapUploadPyq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapUploadImp</display-name>
    <servlet-name>mapUploadImp</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapUploadImp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapUploadImp</servlet-name>
    <url-pattern>/mapUploadImp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapUploadPlacementMaterial</display-name>
    <servlet-name>mapUploadPlacementMaterial</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapUploadPlacementMaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapUploadPlacementMaterial</servlet-name>
    <url-pattern>/mapUploadPlacementMaterial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mapApprovalDeleteUser</display-name>
    <servlet-name>mapApprovalDeleteUser</servlet-name>
    <servlet-class>in.NoteX.mapjsp.mapApprovalDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mapApprovalDeleteUser</servlet-name>
    <url-pattern>/mapApprovalDeleteUser</url-pattern>
  </servlet-mapping>
</web-app>